Bio==1.7.1
biopython==1.83
fastapi==0.115.12
matplotlib==3.8.3
MDAnalysis==2.9.0
numpy==1.25.2
opencv_python==4.11.0.86
pandas==2.0.3
RamachanDraw==1.0.1
rdkit==2023.9.5
rdkit_pypi==2022.9.5
scikit_learn==1.3.0
scipy==1.15.2
seaborn==0.13.2
umap_learn==0.5.4
